body{

    background-color: black;
  background-image: url(batman-logo-high-definition-video-desktop-wallpaper-1080p-png-favpng-tk06KCj23bx5E3cYSKzGX4YLt.jpg);
 
   background-repeat:no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment:fixed;
    color:white;
    font-family: 'BatmanForeverAlternate', sans-serif;
   
                                                
                                                
}
div{
    position: relative;
   
}
video{
    position: absolute;
    top: 0;
    left:  0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
h1{
    background: black;
    font-size:  190px;
    text-align: center ;
    font-weight:600px;
    mix-blend-mode: multiply;
}